h1 {
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0;
    font-family: 'Lobster Two', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem 1rem;
    padding: 2rem;
}

@media screen and (max-width: 400px){
    .container {
        padding: 0;
        grid-gap: 1rem;
        width: 100%;
        margin-top: 3rem
    }   
}